{% extends "base.html" %}
{% block title %}Produto{% endblock %}

  {# ajusta as variáveis conforme novo ou edit #}
  {% set id = result[0].id_produto if result else '0' %}
  {% set nome = result[0].nome if result else '' %}
  {% set descricao = result[0].descricao if result else '' %}
  {% set foto = result[0].foto if result else '' %}
  {% set valor_unitario = result[0].valor_unitario if result else '' %}

{% block content %}
<style>
  body {
    background-color: #343a40;
    /* Cor de fundo mais escura */
  }

  .form-group {
    margin-bottom: 1.5rem;
  }
</style>

<div class="container">
  <div class="p-4 bg-light border rounded">
    <h1 class="mb-4">Cadastro de Produto - {{ "%s: %s" % ('Editar Registro', id) if result else 'Novo' }}</h1>
    <div class="form-group row">
      <form name="{{ 'formEditar' if result else 'formAdicionar' }}"
            id="{{ 'formEditar' if result else 'formAdicionar' }}"
            action="{{ url_for('produto.edit') if result else url_for('produto.insert') }}"
            enctype="multipart/form-data"
            method="POST">
        <div class="form-group row">

          <label for="id" class="col-sm-2 col-form-label">Código</label>
          <div class="col-sm-2">
            <input type="text" name="id" id="id" value="{{ id }}" placeholder="Código" readonly class="form-control">
          </div>

        </div>
        <div class="form-group row">

          <label for="nome" class="col-sm-2 col-form-label">Nome</label>
          <div class="col-sm-4">
            <input type="text" name="nome" id="nome" value="{{ nome }}" placeholder="Nome" maxlength="100" autofocus required
              class="form-control">
          </div>

          <label for="foto" class="col-sm-2 col-form-label">Foto</label>
          <div class="col-sm-4">
            <input type="file" name="foto" id="foto" value="{{ foto }}" accept="image/*" class="form-control-file">
          </div>

        </div>
        <div class="form-group row">

          <label for="descricao" class="col-sm-2 col-form-label">Descrição</label>
          <div class="col-sm-4">
            <textarea name="descricao" id="descricao" rows="4" value="{{ descricao }}" placeholder="Descrição do Produto" class="form-control"
              required></textarea>
          </div>

          <label for="valor" class="col-sm-2 col-form-label">Valor Unitário</label>
          <div class="col-sm-4">
            <input type="number" step="0.01" min="0" name="valor_unitario" id="valor_unitario" value="{{ valor_unitario }}" placeholder="Valor (R$)" required
              class="form-control">
          </div>

        </div>
        <div class="form-group row">
          <div class="col-sm-4 offset-sm-2">
            <button type='submit' name='salvaProdutoDB' id='salvaProdutoDB' class="btn btn-primary"><i
                class='fas fa-save'></i> Salvar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}