{% extends "base.html" %}
{{result}}
{% block title %}Produto{% endblock %}
{% block content %}
<style>
  body {
    background-color: #343a40;
    /* Cor de fundo mais escura */
    /*color: #ffffff;  Cor do texto para melhor legibilidade */
  }
</style>

<div class="container mt-5">
  <div class="p-4 bg-light border rounded">
    <h1>Lista de Produtos</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Foto</th>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Valor Unitário</th>
        </tr>
      </thead>
      <tbody>
        {% if result %}
        {% for row in result %}
        <tr>
          <th scope="row">{{ row['id_produto'] }}</th>
          <td> {{ row['foto'] }}</td>
          <td> {{ row['nome'] }}</td>
          <td> {{ row['descricao'] }}</td>
          <td> {{ row['valor_unitario'] }}</td>
          <td><i class="fas fa-edit"></i></td>
          <td><i class="fas fa-trash"></i></td>
        </tr>
        {% endfor %}
        {% endif %}
      </tbody>
    </table>
    <a href="{{ url_for('produto.formProduto') }}" method="POST" class="btn btn-primary">Cadastrar Novo
      Produto</a>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}