{% extends "base.html" %}
{{result}}
{% block title %}Cliente{% endblock %}
{% block content %}
<style>
  body {
    background-color: #343a40;
    /* Cor de fundo mais escura */
    /*color: #ffffff;  Cor do texto para melhor legibilidade */
  }
</style>

<div class="container mt-5">
  <div class="p-4 bg-light border rounded">
    <h1>Lista de Clientes</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nome</th>
          <th>CPF</th>
          <th>Telefone</th>
          <th>Compra Fiado</th>
          <th>Dia Fiado</th>
          <th>Senha</th>
        </tr>
      </thead>
      <tbody>
        {% if result %}
        {% for row in result %}
        <tr>
          <th scope="row"> {{ row['id_cliente'] }}</th>
          <td> {{ row['nome'] }}</td>
          <td> {{ row['cpf'] }}</td>
          <td> {{ row['telefone'] }}</td>
          <td> {{ row['compra_fiado'] }}</td>
          <td> {{ row['dia_fiado'] }}</td>
          <td> {{ row['senha'] }}</td>
          <td>
            <form action="{{ url_for('cliente.formEditCliente') }}" method="POST" name="formEdit{{ row['id_cliente'] }}">

              <input type="hidden" name="id" value="{{ row['id_cliente'] }}">
              <button type="submit" name="formEditCliente"> <i class="fas fa-edit"></i></button>
              
            </form> 
          </td>
          <td>
            <form method='POST' name='jsDelete' id='jsDelete'>
              <input type='hidden' name='id_cliente' value="{{ row['id_cliente'] }}">
              <button type='submit' name='formDeleteCliente' class='btn'><i class='fas fa-trash'></i></button>
            </form>
          </td>
        </tr>
        {% endfor %}
        {% endif %}
      </tbody>
    </table>
    <a href="{{ url_for('cliente.formCliente') }}" method="POST" class="btn btn-primary">Cadastrar Novo
      Cliente</a>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}

{% block js %}
<script>
  $("form[name='jsDelete']").submit(function (e) {
    // parar o envio para poder fazer manualmente
    e.preventDefault();
    Swal.fire({
      title: '', text: "Deseja realmente excluir: " + $(e.target)[0][0].value,
      icon: 'warning', showCancelButton: true,
      confirmButtonColor: '#3085d6', cancelButtonColor: '#d33',
      cancelButtonText: 'Cancelar', confirmButtonText: 'Sim'
    }).then((result) => {
      if (result.isConfirmed) {
        deletarCliente($(e.target)[0][0].value); // Retorna o valor que está no id
      }
    })
  })
  // sempre pega a url da barra de endereço
  $SCRIPT_ROOT = {{ request.script_root | tojson | safe }};
  function deletarCliente(idcliente) {
    $.post($SCRIPT_ROOT + "{{ url_for('cliente.delete') }}", {
      id_cliente: idcliente
    }, function (data) {
      if (!data.erro) {
        Swal.fire({
          title: '', text: 'ID' + data.msg.id + ', ' + data.msg.msg,
          icon: 'success', showCancelButton: false,
          confirmButtonColor: '#3085d6', cancelButtonColor: '#d33', confirmButtonText: 'OK'
        }).then((result) => {
          if (result.isConfirmed) {
            window.location.replace($SCRIPT_ROOT + "{{ url_for('cliente.formListaCliente') }}");
          }
        })
      }
      else {
        Swal.fire(data.msgErro.msg, data.msgErro.erro, "error");
      }
    }
    )
  }
</script>
{% endblock %}