{% extends "base.html" %}
{{result}}
{% block title %}Cliente{% endblock %}
{% block content %}
<style>
  body {
    background-color: #343a40;
    /* Cor de fundo mais escura */
    /*color: #ffffff;  Cor do texto para melhor legibilidade */
  }
</style>

<div class="container mt-5">
  <div class="p-4 bg-light border rounded">
    <h1>Lista de Clientes</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nome</th>
          <th>CPF</th>
          <th>Telefone</th>
          <th>Compra Fiado</th>
          <th>Dia Fiado</th>
          <th>Senha</th>
        </tr>
      </thead>
      <tbody>
        {% if result %}
        {% for row in result %}
        <tr>
          <th scope="row"> {{ row['id_cliente'] }}</th>
          <td> {{ row['nome'] }}</td>
          <td> {{ row['cpf'] }}</td>
          <td> {{ row['telefone'] }}</td>
          <td> {{ row['compra_fiado'] }}</td>
          <td> {{ row['dia_fiado'] }}</td>
          <td> {{ row['senha'] }}</td>
          <td><i class="fas fa-edit"></i></td>
          <td><i class="fas fa-trash"></i></td>
        </tr>
        {% endfor %}
        {% endif %}
      </tbody>
    </table>
    <a href="{{ url_for('cliente.formCliente') }}" method="POST" class="btn btn-primary">Cadastrar Novo
      Cliente</a>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}